body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.result-container {
    display: inline-block;
    text-align: left;
    padding: 10px;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    background-color:darksalmon;
}
.result {
    margin: 10px 0;
}
.water {
    color: blue;
}
.snake {
    color: green;
}
.gun {
    color: brown;
}
